[flake8]
max-line-length = 127
exclude = 
    migrations,
    __pycache__,
    venv,
    env,
    .git,
    .ebextensions,
    */migrations/*,
    */venv/*,
    */env/*,
    media,
    */media/*,
    */templates/*
ignore = 
    E203,
    E501,
    W503
