commands:
  01_fix_tmp_permissions:
    command: "chmod 1777 /tmp"

container_commands:
  01_fix_db_permissions_before:
    command: "[ -f /tmp/db.sqlite3 ] && chmod 666 /tmp/db.sqlite3 || true"
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  04_fix_db_permissions_after:
    command: "[ -f /tmp/db.sqlite3 ] && chmod 666 /tmp/db.sqlite3 || true"