option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: note2web.wsgi:application

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

commands:
  01_kill_old_managepy:
    command: "pkill -f manage.py || true"

  02_force_gunicorn:
    command: "echo 'web: gunicorn note2web.wsgi:application --bind 0.0.0.0:8000' > /var/app/current/Procfile"
